<html>
  <head>
    <title>Chat Box UI Design</title>
    <!-- Import this CDN to use icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <!-- Main container -->
    <div class="container">
      <!-- msg-header section starts -->
      <div class="msg-header">
        <div class="container1">
          <div class="active">
            <p>Chase AI-Adviser</p>
          </div>
        </div>
      </div>
      <!-- msg-header section ends -->

      <!-- Chat inbox  -->
      <div class="chat-page">
        <div class="msg-inbox">
          <div class="chats">
            <!-- Message container -->
            <div class="msg-page">
              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      Hello! Welcome to Chase AI-Advisor. How can I be
                      help today?
                    </p>
                    <span class="time">18:30 PM | July 24</span>
                  </div>
                </div>
                <div class="bot-mic-img">
                    <img src="static/mic.png" />
                </div>
              </div>
              <!-- Incoming messages -->
              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="static/user2.png" />
                </div>
                <div class="received-msg">
                    <div class="mic-img">
                        <img src="static/mic.png" />
                    </div>
                  <div class="received-msg-inbox">
                    <p>
                      Hi there. I am interested in getting a plan for my
                      investments.
                    </p>
                    <span class="time">18:06 PM | July 24</span>
                  </div>
                </div>
              </div>
              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      Awesome, we are here to help. We need some information 
                      regarding your portfolio expectations.
                    </p>

                    <span class="time">18:30 PM | July 24</span>
                  </div>
                </div>
              </div>
              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="static/user2.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p class="single-msg">
                      Sure.
                    </p>
                    <span class="time">18:31 PM | July 24</span>
                  </div>
                </div>
              </div>
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p>
                      Let's start with your age and expected
                      retirement age
                    </p>

                    <span class="time">18:34 PM | July 24</span>
                  </div>
                </div>
              </div>
              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="static/user2.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p class="single-msg">
                      My age is 30 and expected retirement
                      age is 60.
                    </p>
                    <span class="time">18:31 PM | July 24</span>
                  </div>
                </div>
              </div>

              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      That's good to know.
                    </p>
                    <p class="multi-msg">
                        What is the initial amount you're ready to
                        invest?
                      </p>
                    <span class="time">18:30 PM | July 24</span>
                  </div>
                </div>
              </div>

              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="static/user2.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p class="single-msg">
                      My initial investment would be about $1K.
                    </p>
                    <span class="time">18:31 PM | July 24</span>
                  </div>
                </div>
              </div>

              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      Thanks. Would like to know more about your
                      future goals
                    </p>
                    <span class="time">18:30 PM | July 24</span>
                  </div>
                </div>
              </div>

              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="static/user2.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p class="multi-msg">
                        I would like to save for a laptop purchase
                        in the near future, and a good vacation in
                        a few years.
                      </p>
                      <p class="multi-msg">
                        Then I want to save enough cash to buy a
                        normal car.
                      </p>
                      <p class="multi-msg">
                        When I am 45, I'd like to own a house and
                        when I retire, I'd like to have $150K in
                        my investment account.
                      </p>
                    <span class="time">18:31 PM | July 24</span>
                  </div>
                </div>
              </div>

              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      That's great. Would like to know about your risk
                      appetite from the below options
                    </p>
                    <p class="multi-msg">
                        High/Medium/Low
                      </p>
                    <span class="time">18:30 PM | July 24</span>
                  </div>
                </div>
              </div>


              <div class="received-chats">
                <div class="received-chats-img">
                  <img src="static/user2.png" />
                </div>
                <div class="received-msg">
                  <div class="received-msg-inbox">
                    <p class="single-msg">
                      I would like to go with Medium risk.
                    </p>
                    <span class="time">18:31 PM | July 24</span>
                  </div>
                </div>
              </div>

              <!-- Outgoing messages -->
              <div class="outgoing-chats">
                <div class="outgoing-chats-img">
                  <img src="static/user1.png" />
                </div>
                <div class="outgoing-msg">
                  <div class="outgoing-chats-msg">
                    <p class="multi-msg">
                      Thank you for the information! We have created the
                      below investment recommendations and projectsion
                      based on your information.
                    </p>
                    <p class="multi-msg">
                        <img src="static/user1.png" />
                      </p>
    
                    <span class="time">18:30 PM | July 24</span>
                  </div>
                </div>
              </div>



            </div>
          </div>

          <!-- msg-bottom section -->

          <div class="msg-bottom">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Write message..."
              />

              <span class="input-group-text send-icon">
                <i class="bi bi-arrow-up-circle-fill"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


