<html>
  <head>
    <title>Chat Box UI Design</title>
    <!-- Import this CDN to use icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <!-- Main container -->
    <div class="container">
      <!-- msg-header section starts -->
      <div class="msg-header">
        <div class="container1">
          <div class="active">
            <p>Something Something</p>
          </div>
        </div>
      </div>
      <!-- msg-header section ends -->

      <!-- Chat inbox  -->
      <div class="chat-page">
        <div class="msg-inbox">
          <div class="chats">
            <!-- Message container -->
            <div class="msg-page">


            </div>
          </div>

          <!-- msg-bottom section -->

          <div class="msg-bottom">
            <form class="user-form">
              <input
                type="text"
                class="user-input"
                placeholder="Write message..."
              />
              <button type="submit" class="send-button">Send
                <span class="user-form-text send-icon">
                  <i class="bi bi-arrow-up-circle-fill"></i>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <script src="static/chat.js"></script>
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>

    const userForm = get(".user-form");
    const userInput = get(".user-input");

    let lastMessage = {"user": true}

    const botGreeting = "You have destroyed my homeland; I am here to revenge!";
    appendBotMessage(botGreeting, lastMessage);

    userForm.addEventListener("submit", event => {
      event.preventDefault();

      const userText = userInput.value;
      if (!userText) return;

      appendUserMessage(userText, lastMessage);
      userInput.value="";
      getLLMResponse(userText, lastMessage);

    });

  </script>
  </body>
</html>


